<a href="https://colab.research.google.com/github/Vineetpatre/Python-II-assignment-3/blob/main/Python_II_assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**SECTION A**

In [1]:
#Create a function that returns True if a given inequality expression is correct and False otherwise.
def check(s):
    abc=eval(s)
    if abc:
        return True
    else:
      return False
print(check("2 < 7 < 15"))

True

In [4]:
#Create a function that takes three arguments a, b, c and returns the sum of the numbers that are evenly divided by c from the range a, b inclusive.
def sumDivisibles(A, B, C):
    sum = 0
    for i in range(A, B + 1):
        if (i % C == 0):
            sum += i
    return sum   
A = int(input("Enter value of A ="))
B = int(input("Enter value of B ="))
C = int(input("Enter value of C ="))
 
print(sumDivisibles(A, B, C))

Enter value of A =6
Enter value of B =3
Enter value of C =1
0

In [6]:
#Create a function that replaces all the vowels in a string with a specified character.
def replaceVowels(str, K):
    vowels = 'AEIOUaeiou'
    for i in vowels:
      str = str.replace(i, K)
    return str

input = "My name is vineet"
K = "*"
print("Given String:", input)
print("Given Specified Character:", K)
print("After replacing vowels with the specified character:", replaceVowels(input, K))

Given String: My name is vineet
Given Specified Character: *
After replacing vowels with the specified character: My n*m* *s v*n**t

In [8]:
#Write a function that calculates the factorial of a number recursively.
def factorial(n): 
    if (n==1 or n==0): 
        return 1
    else:     
        return (n * factorial(n - 1)) 
  
num = 7
print("number : ",num)
print("Factorial : ",factorial(num))

number :  7
Factorial :  5040

In [9]:
#Create a function that computes the hamming distance between two strings.
def hammingDist(str1, str2):
    i = 0
    count = 0
    while(i < len(str1)):
        if(str1[i] != str2[i]):
            count += 1
        i += 1
    return count
str1 = "strong"
str2 = "strung"

print(hammingDist(str1, str2))

1

**SECTION B**

In [10]:
#Create a function that takes a list of non-negative integers and strings and return a new list without the strings.
def filter_list(l):  
    output = []
    for i in l:  
        if type(i) != str:  
            output.append(i)  
    return output

print(filter_list([14,206,'r','g',44,6,'k']))

[14, 206, 44, 6]

In [11]:
#The "Reverser" takes a string as input and returns that string in reverse order, with the opposite case.
def reverse(str):
    str = str[::-1]
    return str.swapcase()

reverse('Hello World')

'DLROw OLLEh'

In [13]:
#with middle being everything in between the first and last element.
lst = [1, 2, 3, 4, 5, 6]
lst = first, middle, last

print(first)
print(middle)
print(last)

In [14]:
#Write a function that moves all elements of one type to the end of the list.
def move_end(array, toMove):
    i = 0
    s = len(array) - 1
    while (i < s):
        while (i < s and array[s] == toMove):
            s-=1
        if (array[i] == toMove):
            array[i], array[s] = array[s] , array[i]
        i += 1
    return array

arr = ['a', 'a', 'a', 'b']
k = 'a'
ans = move_end(arr, k)
for i in range(len(arr)):
    print(ans[i] ,end= " ")

b a a a

**SECTION C**

In [15]:
#Create a function that takes a string and returns a string in which each character is repeated once.
def double(str):
    return ''.join([c+c for c in str])

print(double('String'))

SSttrriinngg

In [16]:
#Create a function that reverses a boolean value and returns the string "boolean expected" if another variable type is given.
def reverse(arg=None):
    return not arg if type(arg) == bool else "boolean expected"

print(reverse(True))
print(reverse(False))
print(reverse(0))
print(reverse(None))

False
True
boolean expected
boolean expected

In [17]:
#Create a function that returns the thickness (in meters) of a piece of paper after folding it n number of times. The paper starts off with a thickness of 0.5mm.
def layers(n):
    thickness = 0.5
    for _ in range(n):
        thickness *= 2
    return str(thickness / 1000)+'m' # for meters

print(layers(1))
print(layers(4))

0.001m
0.008m

In [18]:
#Create a function that takes a single string as argument and returns an ordered list containing the indices of all capital letters in the string
def index_of_cap(word):
    indices = []
    for i in range(len(word)):
        if word[i].isupper():
             indices.append(i)
    return indices

print(index_of_cap('Pratik'))
print(index_of_cap('eDaBiT'))
print(index_of_cap('eQuINoX'))

[0]
[1, 3, 5]
[1, 3, 4, 6]

In [20]:
#Using list comprehensions, create a function that finds all even numbers from 1 to the given number.
def find_even_no(n):
    even =[x for x in range(2,n+1) if x % 2 == 0]
    return even

n = int(input("Enter a number : "))
find_even_no(n)

**SECTION D**

In [21]:
#Create a function that takes a list of strings and integers, and filters out the list so that it returns a list of integers only
def filter_list(lst):
    intlst = []
    for i in lst:
        if type(i) == int:
            intlst.append(i)
    return intlst 

filter_list([1, 2, 3, 'a', 'b', 4])

[1, 2, 3, 4]

In [22]:
#Given a list of numbers, create a function which returns the list but with each element's index in the list added to itself.
def add_index(lst):
    ind = 0
    index = []
    for i in lst:
        index.append(lst.index(i,ind) + i)
        ind+=1
    return index

add_index([1, 2, 3, 4, 5])

[1, 3, 5, 7, 9]

In [35]:
#Create a function that takes the height and radius of a cone as arguments and returns the volume of the cone rounded to the nearest hundredth

import math
pi = math.pi
def volume(r, h):
	return (1 / 3) * pi * r * r * h
def surfacearea(r, s):
	return pi * r * s + pi * r * r
radius = float(5)
height = float(12)
slat_height = float(13)
print( "Volume Of Cone : ", volume(radius, height) )
print( "Surface Area Of Cone : ", surfacearea(radius, slat_height) )

Volume Of Cone :  314.15926535897927
Surface Area Of Cone :  282.7433388230814

In [38]:
#Write a function that gives the number of dots with its corresponding triangle number of the sequence.

def triangular_series( n ):
	j = 1
	k = 1
	for i in range(1, n + 1):
		print(k, end = ' ')
		j = j + 1
		k = k + j
n = 4
triangular_series(n)

1 3 6 10

In [34]:
#Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.
def missing_num(lst):
    total = sum([x for x in range(11)])
    sum_of_list = sum(lst)
    return total - sum_of_list

print(missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]))

5